---
openapi: 3.0.1
info:
  title: music API
  version: v1
consumes:
- application/json
produces:
- application/json
paths:
  "/albums":
    get:
      summary: list albums
      tags:
      - Album
      parameters:
      - name: page
        in: query
        description: page
        example: 1
        required: false
        schema:
          type: string
      description: album 리스트를 가져옵니다.
      responses:
        '200':
          description: successful
    post:
      summary: create album
      tags:
      - Album
      parameters: []
      description: 앨범을 생성합니다. artist_id와 title은 필수입니다.
      responses:
        '200':
          description: album created
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/album_object"
  "/albums/{id}":
    parameters:
    - name: id
      in: path
      description: id
      required: true
      schema:
        type: string
    get:
      summary: show album
      tags:
      - Album
      description: 개별 album을 조회합니다. artist와 track list를 포함합니다.
      responses:
        '200':
          description: successful
    put:
      summary: update album
      tags:
      - Album
      parameters: []
      responses:
        '200':
          description: successful
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/album_object"
    delete:
      summary: delete album
      tags:
      - Album
      responses:
        '204':
          description: successful
  "/artists":
    get:
      summary: list artists
      tags:
      - Artist
      parameters:
      - name: page
        in: query
        description: page
        example: 1
        required: false
        schema:
          type: string
      description: artist 리스트를 가져옵니다.
      responses:
        '200':
          description: successful
    post:
      summary: create artist
      tags:
      - Artist
      parameters: []
      description: artist를 생성합니다. name은 필수입니다.
      responses:
        '201':
          description: artist created
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/artist_object"
  "/artists/{id}":
    parameters:
    - name: id
      in: path
      description: id
      required: true
      schema:
        type: string
    get:
      summary: show artist
      tags:
      - Artist
      description: 개별 artist을 조회합니다.
      responses:
        '200':
          description: successful
    put:
      summary: update artist
      tags:
      - Artist
      parameters: []
      responses:
        '200':
          description: successful
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/artist_object"
    delete:
      summary: delete artist
      tags:
      - Artist
      responses:
        '204':
          description: successful
  "/groups":
    get:
      summary: list groups
      tags:
      - group
      parameters:
      - name: page
        in: query
        description: page
        example: 1
        required: false
        schema:
          type: string
      description: group 리스트를 가져옵니다. 본인이 속한 group외의 group도 볼 수 있습니다.
      responses:
        '200':
          description: successful
    post:
      summary: create group
      tags:
      - group
      parameters:
      - name: user_id
        in: query
        description: group의 소유자로 등록하기 위해 사용
        required: true
        schema:
          type: integer
      description: group를 생성합니다. name은 필수입니다. <br> user_id를 받아 해당 user를 group의 owner로
        지정합니다.(추후 auth기능 추가시 변경) <br> 그룹 생성 시 그룹의 playlist(default type)가 생성됩니다.
      responses:
        '200':
          description: group created
        '422':
          description: failed
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/group_object"
  "/groups/{id}":
    parameters:
    - name: id
      in: path
      description: id
      required: true
      schema:
        type: string
    get:
      summary: show group
      tags:
      - group
      description: 개별 group을 조회합니다. 본인이 속한 group외의 group도 볼 수 있습니다.
      responses:
        '200':
          description: successful
    put:
      summary: update group
      tags:
      - group
      description: group을 수정합니다. group의 owner만 수정할 수 있습니다.
      parameters:
      - name: user_id
        in: query
        description: 사용자 검증을 위해 사용
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: successful
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/group_object"
    delete:
      summary: delete group
      tags:
      - group
      parameters:
      - name: user_id
        in: query
        description: 사용자 검증을 위해 사용
        required: true
        schema:
          type: integer
      description: group을 삭제합니다. group의 owner만 삭제할 수 있습니다.
      responses:
        '204':
          description: successful
  "/playlist_tracks":
    post:
      summary: create playlist_track
      tags:
      - playlist_track
      parameters:
      - name: user_id
        in: query
        description: 사용자 검증을 위해 사용
        required: true
        schema:
          type: integer
      - name: playlist_id
        in: query
        description: 사용자 검증을 위해 사용
        required: true
        schema:
          type: integer
      description: playlist_track를 생성합니다. <br> body의 user_id는 playlist_track을 생성한
        사람입니다. <br> 사용자 검증을 위하여 user_id와 playlist_id를 추가로 받습니다.
      responses:
        '201':
          description: create playlist_track
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/playlist_track_object"
  "/playlist_tracks/{id}":
    parameters:
    - name: id
      in: path
      description: id
      required: true
      schema:
        type: string
    delete:
      summary: delete playlist_track
      tags:
      - playlist_track
      parameters:
      - name: user_id
        in: query
        description: 사용자 검증을 위해 사용
        required: true
        schema:
          type: integer
      - name: playlist_id
        in: query
        description: 사용자 검증을 위해 사용
        required: true
        schema:
          type: integer
      description: playlist_track을 삭제합니다.
      responses:
        '204':
          description: successful
  "/playlists":
    get:
      summary: list playlists
      tags:
      - playlist
      parameters:
      - name: page
        in: query
        description: page
        example: 1
        required: false
        schema:
          type: string
      description: playlist 리스트를 가져옵니다. my_album(내앨범) 타입의 playlist만 조회합니다. <br> 타인의
        playlist를 조회할 수 있습니다.
      responses:
        '200':
          description: successful
    post:
      summary: create playlist
      tags:
      - playlist
      parameters:
      - name: owner_id
        in: query
        description: user_id or group_id
        required: true
        schema:
          type: integer
      - name: owner_type
        in: query
        description: user or group
        required: true
        schema:
          type: integer
      - name: user_id
        in: query
        description: 사용자 검증을 위해 사용
        required: true
        schema:
          type: integer
      description: playlist를 생성합니다. title은 필수입니다. <br> owner(polymorphic. group or
        user)의 playlist를 생성합니다. <br> my_album 타입의 playlist만 생성할 수 있습니다.
      responses:
        '200':
          description: create playlist
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/playlist_object"
  "/playlists/my_playlist":
    get:
      summary: get my_playlists
      tags:
      - playlist
      parameters:
      - name: page
        in: query
        description: page
        example: 1
        required: false
        schema:
          type: string
      - name: owner_id
        in: query
        description: user_id or group_id
        required: true
        schema:
          type: integer
      - name: owner_type
        in: query
        description: user or group
        required: true
        schema:
          type: integer
      - name: user_id
        in: query
        description: 사용자 검증을 위해 사용
        required: true
        schema:
          type: integer
      description: 나 혹은 내가 속한 그룹의 playlist를 조회합니다.
      responses:
        '200':
          description: successful
  "/playlists/{id}":
    parameters:
    - name: id
      in: path
      description: id
      required: true
      schema:
        type: string
    get:
      summary: show playlist
      tags:
      - playlist
      description: 개별 playlist 리스트를 가져옵니다. my_album(내앨범) 타입의 playlist만 조회합니다. <br>
        타인의 playlist를 조회할 수 있습니다.
      responses:
        '200':
          description: successful
    put:
      summary: update playlist
      tags:
      - playlist
      description: playlist를 수정합니다. title은 필수입니다. <br> owner(polymorphic. group or
        user)의 playlist를 수정합니다. <br> my_album 타입의 playlist만 수정할 수 있습니다.
      parameters:
      - name: owner_id
        in: query
        description: user_id or group_id
        required: true
        schema:
          type: integer
      - name: owner_type
        in: query
        description: user or group
        required: true
        schema:
          type: integer
      - name: user_id
        in: query
        description: 사용자 검증을 위해 사용
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: successful
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/playlist_object"
    delete:
      summary: delete playlist
      tags:
      - playlist
      parameters:
      - name: owner_id
        in: query
        description: user_id or group_id
        required: true
        schema:
          type: integer
      - name: owner_type
        in: query
        description: user or group
        required: true
        schema:
          type: integer
      - name: user_id
        in: query
        description: 사용자 검증을 위해 사용
        required: true
        schema:
          type: integer
      description: playlist을 삭제합니다.
      responses:
        '204':
          description: successful
servers:
- url: http://localhost:3000
  variables:
    defaultHost:
      default: http://localhost:3000
components:
  schemas:
    album_object:
      type: object
      properties:
        album:
          type: object
          properties:
            title:
              type: string
              example: growing up
            artist_id:
              type: integer
              example: 1
      required:
      - title
      - artist_id
    artist_object:
      type: object
      properties:
        artist:
          type: object
          properties:
            name:
              type: string
              example: 아이유
      required:
      - name
    group_object:
      type: object
      properties:
        artist:
          type: object
          properties:
            name:
              type: string
              example: 그룹1
      required:
      - name
    playlist_object:
      type: object
      properties:
        artist:
          type: object
          properties:
            title:
              type: string
              example: 내 앨범1
      required:
      - title
    playlist_track_object:
      type: object
      properties:
        artist:
          type: object
          properties:
            playlist_id:
              type: integer
              example: 1
            track_id:
              type: integer
              example: 1
            user_id:
              type: integer
              example: 1
      required:
      - title
